/* Only Mobile and Desktop */
@charset "utf-8";

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #F2F2F2;
    --black: #0D0D0D;
    --gray: #A6A6A6;
}

/* Screen Reader Only */
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/* Scroll Animation */
.sa {
    opacity: 0;
    transition: all .5s;
}

.sa-up {
    transform: translateY(100px);
}

.sa-down {
    transform: translateY(-100px);
}

.sa-right {
    transform: translateX(-100px);
}

.sa-left {
    transform: translateX(100px);
}

.sa.show {
    opacity: 1;
    transform: none;
}

/* Mobile */
/* Header Style */
#app {
    font-family: "GmarketSansLight";
}

.head {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
    transition: all 0.25s ease-in-out;
}

.head.scrollDown { 
    transform: translateY(-50px);
}

.head .head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.head .head-nav {
    display: none;
}

.head .head-nav.on {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.head .head-nav.on li + li{
    margin-top: 10px;
}

.head .nav-trigger {
    position: relative;
    width: 25px;
    height: 25px;
}

.head .nav-trigger, .head .nav-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.head .nav-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    border-radius: 4px;
}

.head .nav-trigger span:nth-of-type(1) {
    top: 0;
    animation: nav-bar-01 .75s forwards;
}

.head .nav-trigger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s;
    opacity: 1;
}

.head .nav-trigger span:nth-of-type(3) {
    bottom: 0;
    animation: nav-bar-03 .75s forwards;
}

@keyframes nav-bar-01 {
    0% {
        transform: translateY(11px) rotate(45deg);
    }
    50% {
        transform: translateY(11px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes nav-bar-03 {
    0% {
        transform: translateY(-11px) rotate(-45deg);
    }
    50% {
        transform: translateY(-11px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

.head .nav-trigger.active span:nth-of-type(1) {
    animation: active-nav-bar-01 .75s forwards;
}

.head .nav-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.head .nav-trigger.active span:nth-of-type(3) {
    animation: active-nav-bar-03 .75s forwards;
}

@keyframes active-nav-bar-01 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(11px) rotate(0);
    }
    100% {
        transform: translateY(11px) rotate(45deg);
    }
}

@keyframes active-nav-bar-03 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-11px) rotate(0);
    }
    100% {
        transform: translateY(-11px) rotate(-45deg);
    }
}

/* Main Style */
.main {
    height: 100%;
    background-color: var(--gray);
    padding: 70px 20px;
}

.main section + section {
    margin-top: 70px;
}

.main .main-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
    padding: 70px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--white);
}

.main-about .img-profile {
    width: 150px;
    border-radius: 50%;
}

.main .main-stack {
    background-color: inherit;
    border: none;
    color: var(--white);
}

/* Desktop Style */
@media all and (min-width: 420px) {
}

/* @media all and (min-width: 768px) and (max-width: 1023px) {
} */