/* Only Mobile and Desktop */
@charset "utf-8";

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
}

/* Screen Reader Only */
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/* Scroll Animation */
.sa {
    opacity: 0;
    transition: all .5s;
}

.sa.show {
    opacity: 1;
    transform: none;
}

.sa-up {
    transform: translateY(100px);
}

.sa-left {
    transform: translateX(500px);
}

.sa-right {
    transform: translateX(-500px);
}

.sa-rotate {
    transform: rotateY(90deg);
}

.sa-start {
    opacity: 1;
}

.sa-start.show {
    transform: translateX(-500px);
}

.sa-bg-black {
    background-color: var(--black);
}

/* Reset CSS */

/* Mobile Style */

/* Desktop Style */
@media all and (min-width: 420px) {
}