@charset "utf-8";

@keyframes balloonMove {
  0% {
    transform: translate(0, 25vh);
  }
  20% {
    transform: translate(15vw, 0);
  }
  40% {
    transform: translate(0, -25vh);
  }
  60% {
    transform: translate(15vw, -50vh);
  }
  80% {
    transform: translate(0, -75vh);
  }
  100% {
    transform: translate(15vw, -100vh);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Slide Animation */
.sa-start {
  transition: all 0.2s ease-out;
}

.sa {
  opacity: 0;
  transition: all 0.2s;

  &.show {
    opacity: 1;
    transform: none;
  }
}

.sa-rotate {
  transform: rotateY(90deg);
}
