@charset "utf-8";

// Mobile Style
/* Main Section Style */
.sec-main {
  /* Main Sectoin > Module Style */
  .main-module {
    position: relative;
    margin: 0 5vw;
    text-align: center;

    &:nth-child(n + 3) {
      color: $WHITE;
    }
  }

  .main-module + .main-module {
    margin-top: 10vw;
  }

  /* Main Sectoin > About Style */
  .sec-about {
    background-color: $WHITE;
    border-radius: 20px;
    padding: 10vh 0;

    .tit-about {
      @include tit-mobile;
    }

    .subtit-about {
      display: inline-block;
      background-image: linear-gradient(
        to top,
        $LIGHT_BLUE 50%,
        transparent 50%
      );
      font-size: 6vw;
      margin: 20px auto;
    }

    .contact-me {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .img-profile {
        width: 150px;
        border-radius: 50%;
        border: 1px solid $LIGHT_BLACK;
      }

      .list-contact {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          right: -15px;
          display: block;
          width: 16px;
          height: 16px;
          background-image: url('../../images/click.png');
          background-size: cover;
        }

        a {
          display: block;
          box-sizing: border-box;
          padding: 5px 2vw;
          font-size: 0.5rem;
          color: $WHITE;
          background-color: rgba($LIGHT_BLACK, 0.8);
          border-radius: 10px;
        }

        li + li {
          margin-top: 5px;
        }
      }
    }

    .intro-me {
      margin: 30px auto 0;
      width: 80vw;
      line-height: 1.5;
      font-size: 4vw;
      p + p {
        margin-top: 2vh;
      }
      span {
        @include txt-gradient;
      }
    }
  }

  .sec-stack {
    &.dark {
      color: $WHITE;

      .container-stack {
        li {
          border-color: $WHITE;
        }
      }
    }

    .tit-stack {
      @include tit-mobile;
    }

    .container-stack {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2vw;
      font-size: 2vw;
      margin-top: 5vw;

      li {
        padding: 1.5vw 0;
        border: 1px solid $LIGHT_BLACK;
        border-radius: 20px;
        font-family: 'GmarketSansBold';
      }

      .stack-plan {
        animation: blink 0.5s alternate infinite;
      }
    }
  }

  .sec-project {
    .tit-project {
      @include tit-mobile;
    }

    .wrap-project {
      margin-top: 7vw;

      .item-project {
        position: relative;
        text-align: start;
        border-radius: 10px;
        padding: 5vw;
        font-size: 3vw;

        &:nth-child(2n) {
          border: 1px solid $LIGHT_PINK;
          .tit-item {
            background-color: $LIGHT_PINK;
          }
          .purpose-project {
            color: $LIGHT_PINK;
          }
          a {
            svg {
              fill: $LIGHT_PINK;
            }
            &:hover svg {
              fill: $LIGHT_BLUE;
            }
          }
        }

        &:nth-child(2n + 1) {
          border: 1px solid $LIGHT_BLUE;
          .tit-item {
            background-color: $LIGHT_BLUE;
          }
          .purpose-project {
            color: $LIGHT_BLUE;
          }
          a {
            svg {
              fill: $LIGHT_BLUE;
            }
            &:hover svg {
              fill: $LIGHT_PINK;
            }
          }
        }

        .tit-item {
          box-sizing: border-box;
          position: absolute;
          top: -4vw;
          left: -4vw;
          padding: 0 2vw;
          line-height: 1.5;
          border-radius: 20px;
          color: $LIGHT_BLACK;
          font-size: 4vw;
        }

        .period-item {
          box-sizing: border-box;
          position: absolute;
          top: -13px;
          right: 3%;
          padding-bottom: 1vw;
          font-size: 10px;
        }

        .skill-use {
          display: flex;
          width: 50%;

          li {
            font-size: 10px;
            border: 1px solid $WHITE;
            padding: 1.5vw 3vw;
            border-radius: 20px;
          }

          li + li {
            margin-left: 10px;
          }
        }

        .purpose-project {
          margin: 3vw 0;
          font-size: 4vw;
          line-height: 1.5;
        }

        .cont-project {
          line-height: 1.5;
        }

        svg[class^='link-'] {
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: -11px;
        }

        .link-web {
          right: 60px;
        }

        .link-git {
          right: 20px;
        }
      }

      .item-project + .item-project {
        margin-top: 10vw;
      }
    }
  }

  .sec-activity {
    .tit-activity {
      @include tit-mobile;
    }
  }
}

/* Desktop Style */
@media all and (min-width: 421px) {
  .sec-main {
    .main-module + .main-module {
      margin-top: 50px;
    }
    .sec-about {
      padding: 50px 0;

      .tit-about {
        @include tit-desktop;
      }

      .subtit-about {
        font-size: 2rem;
      }

      .contact-me {
        justify-content: center;

        .wrap-profile {
          position: relative;
        }

        .img-profile {
          width: 15vw;
          min-width: 150px;
          margin-right: 5vw;
        }
        .list-contact {
          &::after {
            bottom: -15px;
            right: -30px;
            width: 32px;
            height: 32px;
          }
          a {
            font-size: 1rem;
            border-radius: 20px;

            &:hover {
              background-color: $BLACK;
            }
          }

          li + li {
            margin-top: 10px;
          }
        }
      }

      .intro-me {
        font-size: 1.25rem;
        span {
          font-size: 1.5rem;
        }
      }
    }

    .sec-stack {
      &.dark {
        color: $WHITE;

        .container-stack {
          li {
            border-color: $WHITE;
          }
        }
      }
      .tit-stack {
        @include tit-desktop;
      }

      .container-stack {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1rem;
        margin-top: 50px;

        li {
          width: 150px;
          padding: 10px 0;
          border-radius: 20px;
        }

        .stack-plan {
          animation: blink 0.5s alternate infinite;
        }
      }
    }

    .sec-project {
      .tit-project {
        @include tit-desktop;
      }

      .wrap-project {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;

        .item-project {
          display: inline-block;
          width: 40%;
          min-width: 400px;
          padding: 30px;
          font-size: 1rem;

          .tit-item {
            top: -20px;
            left: -20px;
            padding: 5px 20px;
            font-size: 1rem;
          }

          .period-item {
            font-size: 0.75rem;
          }

          .skill-use {
            li {
              padding: 5px 10px;
            }
          }

          .purpose-project {
            margin: 10px 0;
            font-size: 1.5rem;
          }

          svg[class^='link-'] {
            width: 50px;
            height: 50px;
            bottom: -20px;
          }

          .link-web {
            right: 100px;
          }

          .link-git {
            right: 25px;
          }
        }

        .item-project + .item-project {
          margin-top: 0;
        }
      }
    }
  }
}
